attrs==16.2.0
bravado==8.4.0
bravado-core==4.5.1
cffi==1.8.3
crochet==1.5.0
cryptography==1.5.2
falcon==1.1.0rc1
fido==4.1.0
idna==2.1
jsonschema==2.5.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.16
pyOpenSSL==16.2.0
python-dateutil==2.5.3
python-mimeparse==1.6.0
PyYAML==3.12
requests==2.11.1
rfc3987==1.3.7
service-identity==16.0.0
simplejson==3.8.2
six==1.10.0
strict-rfc3339==0.7
swagger-spec-validator==2.0.2
Twisted==16.4.1
webcolors==1.5
yelp-bytes==0.3.0
yelp-encodings==0.1.3
zope.interface==4.3.2
